---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Industries from '../components/Industries.astro';
import Services from '../components/Services.astro';
import Methodology from '../components/Methodology.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
import SectionDivider from '../components/SectionDivider.astro';
---

<Layout>
  <Header />
  <main>
    <Hero />
    <SectionDivider type="curve" fillColor="#FAFAF7" bgColor="#141C2B" />
    <Industries />
    <SectionDivider type="slant" fillColor="#F4F2ED" bgColor="#FAFAF7" />
    <Services />
    <SectionDivider type="slant" fillColor="#FAFAF7" bgColor="#F4F2ED" flip={true} />
    <Methodology />
    <SectionDivider type="slant" fillColor="#F4F2ED" bgColor="#FAFAF7" />
    <Contact />
    <SectionDivider type="curve" fillColor="#141C2B" bgColor="#F4F2ED" />
  </main>
  <Footer />
</Layout>
